#ifndef #HEADERBLOCK#
#define #HEADERBLOCK#

#include <QObject>

class #CLASSNAME# : public QObject
{
    Q_OBJECT

public:
    #CLASSNAME#(QObject *rootObject);
    ~#CLASSNAME#();
};

#endif // #HEADERBLOCK#
